.body{
    background-image: url(https://sheltertwc.weebly.com/uploads/8/9/0/3/8903043/9308364.jpg?446);
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}
input{
    border-radius: 5px;
}
h3{
    color: #FFFFFF;
    background-color: blue;
    width:15%;
}
#btn{
color: #FFFFFF;
background-color: blue;
}